[Unit]
Description=Le Mans remote demo PostgreSQL

[Container]
Image=docker.io/library/postgres:alpine
ContainerName=lemans-demo-db
Network=lemans-demo.network
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD_FILE=/run/secrets/db_password
Environment=POSTGRES_DB=lemans_demo_db
Secret=lemans_demo_db_password,type=mount,target=/run/secrets/db_password
Volume=lemans-demo.volume:/var/lib/postgresql

[Service]
Restart=always

[Install]
WantedBy=default.target
