[Unit]
Description=Le Mans remote production application
After=lemans-remote-prod-db.service

[Container]
Image=docker.io/library/lemans-bridge-dashboard:lts-alpine
ContainerName=lemans-remote-prod-app
Network=lemans-remote-prod-net
PublishPort=127.0.0.1:3003:3000
Environment=NODE_ENV=production
EnvironmentFile=%h/.config/containers/systemd/bridge-ph/lemans/lemans.env

[Service]
Restart=always

[Install]
WantedBy=default.target
