[Unit]
Description=Le Mans remote production PostgreSQL

[Container]
Image=docker.io/library/postgres:alpine
ContainerName=lemans-prod-db
Network=lemans.network
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD_FILE=/run/secrets/db_password
Environment=POSTGRES_DB=lemans_prod_db
Secret=lemans_prod_db_password,type=mount,target=/run/secrets/db_password
Volume=lemans.volume:/var/lib/postgresql

[Service]
Restart=always

[Install]
WantedBy=default.target
